.wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: coral;
}
.dropdown-container {
  display: inline-block;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 10rem;
}

.dropdown-button {
  padding: 8px 16px;
  width: 100%;
  cursor: pointer;
  border-radius: none;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown-button p{
  margin: 0;
    padding: 0;
    flex: 1;
    width: 80%;
}
.dropdown-list {
  position: absolute;
  left: 0;
  top: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}